backend/node_modules/
frontend/node_modules/
.prisma/
@prisma/
**/node_modules/
**/generated/

# Environment variables
.env
backend/.env
frontend/.env

# Prisma
/backend/prisma/dev.db
/backend/prisma/dev.db-journal

# Build outputs
frontend/dist/
backend/dist/

# Misc
.DS_Store
*.log
